* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

.container {
    padding: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 4fr;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
}

.project-name {
    border: 2px solid black;
}
.content {
    background-color: white;
    padding: 2rem;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

.todo-item {
    background-color: whitesmoke;
    padding: 1rem;
    border: 1px solid black;
    height: 10rem;
}
