* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

.container {
    padding: 5rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 4fr;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
}

.project-name {
    border: 2px solid black;
}

